@import "modern-normalize";

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* max-inline-size: ; */
  /* font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem); */
}

*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

p, h1, h2, h3, h4, h5, h6, input, button, textarea, select {
  font: inherit;
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  /* width: clamp(45ch, 50%, 75ch); */
}

img, picture, video, canvas, svg {
  display: inline;
}

/* #root, #__next {
  isolation: isolate;
} */
body{
    display: grid;
    grid-template-columns:225px 1fr;
    font-family: "Roboto",sans-serif;
}
.main-content{
    grid-column: 2/-1;
}
.sidebar{
    background-color: rgba(24,146,211,255);
    color: white;
    height: max(min-content,100vh);
    height: 100vh;
    display: grid;
    grid-template: 30px 40px repeat(6,30px) 40px repeat(3,30px)/40px 1fr;
    align-items: center;
    padding-left: 10px;
    padding-top: 15px;
    column-gap: 7px;
    row-gap: 7px;
}
.sidebar>img{
    grid-column: 1/2;
    width: 1.2rem;
    justify-self: center;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(107%) contrast(101%);
}
.sidebar>img:first-child{
    width: 2.2rem;
}
.sidebar>h1{
    font-weight: 500;
    font-size: 1.5rem;
    grid-column: 2/3;
}
.sidebar>div{
    grid-column: 2/3;
    font-weight: 600;
    font-size: 1.1rem;
    align-content: center;
}
.header{
    padding: 10px 90px 0px 40px;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 1px 3px 5px rgba(205,210,214,255);
    height: 170px;
}
.header1{
    display: flex;
    align-items: center;
    gap: 15px;
}
input{
    flex-grow: 1;
    border-radius: 20px;
    border-style: none;
    background-color: rgba(225,232,240,255);
    height: 30px;
    padding: 13px;
    font-size: 0.8rem;
}
input:active,input:focus{
    border: solid;
    border-color: rgb(228, 228, 228);
    outline: none;
}
label{
    display: flex;  
}
.header1 img{
    width: 1.3rem;
    flex-shrink: 0;
    object-fit: contain;
}
img[alt='notifications']{
    margin-left: 100px;
}
.header1 img[alt='profile1']{
    width: 3.5rem;
}
.header2{
    display: flex;
    margin-top: 15px;
    align-items: center;
    gap: 20px;
}
.header2 img{
    width: 5rem;
}
.greeting{
    margin-right: auto;
}
.greeting>p:first-child{
    font-size: 0.9rem;
}
.greeting>p:last-child{
    font-size: 1.7rem;
    padding: 0px;
    white-space: nowrap;
}
.header2 button{
    background-color: rgba(24,146,211,255);
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 130px;
    color: white;
}