@import "modern-normalize";

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* max-inline-size: ; */
  /* font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem); */
}

*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

p, h1, h2, h3, h4, h5, h6, input, button, textarea, select {
  font: inherit;
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  /* width: clamp(45ch, 50%, 75ch); */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* #root, #__next {
  isolation: isolate;
} */
body{
    display: grid;
    grid-template-columns:200px 1fr;
}
div{
    background-color: pink;
    border: solid;
}
.main-content{
    grid-column: 2/-1;
}