@import "modern-normalize";

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* max-inline-size: ; */
  /* font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem); */
}

*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

p, h1, h2, h3, h4, h5, h6, input, button, textarea, select {
  font: inherit;
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  /* width: clamp(45ch, 50%, 75ch); */
}

img, picture, video, canvas, svg {
  display: inline;
}

/* #root, #__next {
  isolation: isolate;
} */
body{
    display: grid;
    grid-template-columns:225px 1fr;
    font-family: "Roboto",sans-serif;
}
.main-content{
    grid-column: 2/-1;
}
.sidebar{
    background-color: rgba(24,146,211,255);
    color: white;
    height: max(min-content,100vh);
    height: 100vh;
    display: grid;
    grid-template: 30px 40px repeat(6,30px) 40px repeat(3,30px)/40px 1fr;
    align-items: center;
    padding-left: 10px;
    padding-top: 15px;
    column-gap: 7px;
    row-gap: 7px;
}
.sidebar>img{
    grid-column: 1/2;
    width: 1.2rem;
    justify-self: center;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(107%) contrast(101%);
}
.sidebar>img:first-child{
    width: 2.2rem;
}
.sidebar>h1{
    font-weight: 500;
    font-size: 1.5rem;
    grid-column: 2/3;
}
.sidebar>div{
    grid-column: 2/3;
    font-weight: 600;
    font-size: 1rem;
    align-content: center;
}